.*
*.gz
*.zip
*.dll
*.exe
*.so
CHANGELOG
LATEST_VERSION_IS*
plugins/usrp/usrp_radR_plugin.h
plugins/xir3000/CANRib_names.txt
plugins/xir3000/CANSTAR.H
plugins/xir3000/CANSTAR.H.orig
plugins/xir3000/myCANSTAR.h
install